@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

@font-face {
    font-family: 'gotham_mediumregular';
    src: url('gotham_medium_regular.ttf') format('opentype'),
         url('gotham_medium_regular.woff2') format('woff2'),
         url('gotham_medium_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'gothambold1';
	src: url('./gothambold1.eot');
	src: local('gothambold1'),
		 url('./gothambold1.woff') format('woff'), 
	 	 url('./gothambold1.ttf') format('opentype');
	font-weight: normal;
 	font-style: normal;
}

@font-face {
	font-family: 'gothamBook';
	src: url('./gothamBook.eot');
	src: local('gothamBook'),
	     url('./gothamBook.woff') format('woff'), 
	 	 url('./gothamBook.ttf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

// $subtitle-font: 400 1.8rem/1.5 'GothamBook', sans-serif;

%transition {
	transition: all .5s ease-out;
}
%uppercase {
    text-transform: uppercase;
}

*{
	box-sizing: border-box;
}
html {
	font-size: 10px;
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	color: #6f7781;
	min-height: 100%;
	margin: 0 auto;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin svg-circle {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    @include flex-row;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    svg {
        fill: #fff;
    }
    &:hover,
    &:focus,
    &:active {
        border: 2px dotted #fff;
    }
} 

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

@mixin button($primary-color) {
    display: inline-block;
    background-color:  #fff;
    color: $primary-color;
    font-family: 'GothamBook', sans-serif;
    font-size: 1.4rem;
    @extend %uppercase;
    // text-align: center;
    border: 1px solid $primary-color;
    text-decoration: none;
    // width: 190px;
    // height: 55px;
    padding: 20px 40px;
    @extend %transition;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background-color: $primary-color;
    }    
}



.container {
	margin: 0 auto;
	max-width: 1170px;
}

.section  {
	color: #fff;
	 &__scroll {
    	position: absolute;
    	left: 50%;
    	z-index: 2;
    	padding-top: 80px;
    }
}

.section--a, .footer {
	padding: 170px 0;
	background-color: #7e5aff; 
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section--c {
	/* background-color: #3b81d5; */
}

/* .header__logo {
	transform: scale(1, 1);
} */

.header__nav  ul li a {
	color: #fff;
    text-decoration: none;
    }  

.header__nav  ul li a:before {
	padding-right: 10px;
	content: "\25CB";
}

.header__nav  ul li a:active:before {
	content: "\25CF";
}

.section--100 {
	min-height: 100vh;
}

.socials {
	margin: 0;
	padding: 0;
}

.socials__item {
	display: inline-block;
}

/* .social__item + .social__item {
	margin-left: 100px;
} */

.socials__link {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 13px 0;
	opacity: 1;
	transition: all .4 ease-in-out;
}


.socials__link:hover,
.socials__link:focus,
.socials__link:active {
	opacity: 0.6;
}


.socials__link[data-social="fb"] {
	background-image: url(../img/.png);
}

.socials__link[data-social="tw"] {
	background-image: url(../img/.png);
}

.socials__link[data-social="dr"] {
	background-image: url(../img/77.png);
}

.title, .subtitle {
	text-transform: uppercase;
}

.supertitle {
	font-family: 'gothambold1', sans-serif;
	font-size: 8rem;
	margin: 280px 0 35px 0;
}

.title {
	font-family: 'gothambold1', sans-serif;
	text-align: center;
	font-size: 4.4rem;
	margin: 140px 0 170px 0;
	color: #2c4058;
	&-project {
		font-family: 'gothambold1', sans-serif;
		font-size: 4.4rem;
		color: #2c4058;
		@extend %uppercase;
		margin: 0 0 10px;
	}
	// #news & {
	// 	font-family: 'Gotham Medium Regular', sans-serif;
	// 	font-size: 4.4rem;
	// 	color: #fff;
	// 	margin: 0 0 90px;
	// 	padding-top: 70px;
	// 	position: relative;
	// 	&:before {
	// 		position: absolute;
	// 		content: '';
	// 		width: 100px;
	// 		border: 1px solid #fff;
	// 		background-color: #fff;
	// 		left: 45%;
	// 		top: 35%;
	// 	}
	// }
}

h4.subtitle  {
	font-family: 'gothamBook', sans-serif;
	font-size: 1.8rem;
	font-weight: 100;
	margin-bottom: 	230px;
}

.text-center {
    text-align: center;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 55px 0;
    z-index: 1;
    /* background-color: yellow; */
   
}

.flex {
	// display: flex;	
	// flex-direction: row; 
	// justify-content: space-between;
	// align-items: center;
	@include flex-row;	  
}

.header__nav {
	margin-right: auto;
	padding-left: 80px;
}

.header__nav  ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-right: 70px;

    
}

.header__social ul li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    
}

.subtitle {
	color: #fff;
	font-family: 'GothamBook', sans-serif;
	font-size: 1.8rem;
	@extend %uppercase;
	letter-spacing: 5px;
	margin: 0;
	#projects & {
		color: #6f7781;
		letter-spacing: 0;
		font-size: 2.2rem;
		margin-bottom: 17px;
	}
}

.footer  {
	padding: 200px 0;
	color: #fff;
}

.footer .container {
	max-width: 770px;
}

.scroll {
	left: 50%;
	bottom: 50px;
	transform: translate(-50%, 0);
 	@include svg-circle;
 	outline: none;
}

.flex-row {
	@include flex-row;
	&:nth-child(odd) {
		flex-direction: row-reverse;
		margin: 160px 0 140px;
	}
	&__img {
		flex: 0 0 53%;
		.image1 {
			position: relative;
			text-align: center;
			box-shadow: -260px -70px 0 #55b7ff;;
		}
		.image2 {
			position: relative;
			box-shadow: 260px -70px 0 #7e5aff;
		}
	}
	&__text {
		color: #6f7781;
		@include flex-column;
		align-items: flex-start;
		flex: 0 0 45%;
		padding: 55px 5px 50px 30px;
	}
	p {
		margin-bottom: 40px;	
	}
}

.btn {
	@include button(#2c4058);
	margin-bottom: 60px;
	// #gallery & {
	// 	margin: 60px calc(50% - 95px) 100px;
	// }
	// .footer .form & {
	// 	margin: 30px 0;
	// 	float: right;
	// }
}
.location {
	font-style: italic;
	margin: 0;	
	svg {
		margin-right: 10px;
		vertical-align: middle;
	}
}

// .post {
// 	width: 33%;
// 	height: 515px;
// 	display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// 	justify-content: space-between;
// 	&__link {
// 		height: 100%;
// 		background-color: #fff;
// 		display: block;
// 		text-decoration: none;
// 		color: inherit;
// 	}
// 	&__img-wrap {
// 		background-color: #2c4058;
// 		height: $height;
//     	position: relative;
//    		overflow: hidden;
// 		position: relative;
// 		&:hover,
// 		&:focus {
// 			.hover {
// 				opacity: 1;
// 			}
// 		}
// 	}
.flex-row  {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}
.flex-item  {
	background: yellow;
	border: 1px solid green;
	width: 370px;
	height: 515px;
}
#gallery {
	.flex-row {
		display: flex;
		flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: flex-start;
	    flex-direction: column;
	    height: 450px;
	}

	.flex-item {
		background: yellow;
		border: 1px solid green;
		width:  285px;
		height: 217px;
	}

	.flex-item--lg {
		width:  580px;
		height: 440px;
	}
}